NEXT_PUBLIC_SITE_URL=
RESEND_API_KEY=

ELASTICSEARCH_URL=
ELASTICSEARCH_PROD_URL=
ELASTICSEARCH_API_KEY=
ELASTICSEARCH_PROD_API_KEY=
ELASTICSEARCH_INDEX=

NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Native PostgreSQL Configuration
DATABASE_URL=


# OAuth Providers 
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MAX_DOCUMENTS=
ENVIRONMENT=

#Github
GITHUB_TOKEN=
GITHUB_REPO=
GITHUB_BRANCH=

# ioRedis
REDIS_HOST=
REDIS_PROD_HOST=
REDIS_PROD_PORT=